<h1>Todos los productos </h1>
 <ul>
        <li>
    "title": "Producto 1",
    "code": "1234",
    "description": "remera roja",
    "price": "24.99",
    "id": "1",
    "category": "clothing",
    "thumbnail": "path/to/image1.jpg",
    "stock": "90"
    </li>
        <li>
    "title": "Producto 2",
    "code": "12345",
    "description": "pantalon negro",
    "price": "170",
    "id": "2",
    "category": "clothing",
    "thumbnail": "path/to/image1.jpg",
    "stock": "50" 2
    </li>
        <li>
    "title": "Producto 3",
    "code": "1234",
    "description": "remera roja",
    "price": "150",
    "id": "3",
    "category": "clothing",
    "thumbnail": "path/to/image1.jpg",
    "stock": "100"
    </li>
    <li>
        "title": "Producto 4",
    "code": "12345",
    "description": "pantalon negro",
    "price": "170",
    "id": "4",
    "category": "clothing",
    "thumbnail": "path/to/image1.jpg",
    "stock": "50"
    </li>
    <li>
        "title": "Producto 5",
    "code": "1234",
    "description": "remera roja",
    "price": "150",
    "id": "5",
    "category": "clothing",
    "thumbnail": "path/to/image1.jpg",
    "stock": "100"
    </li>
    <li>
        "title": "Producto 6",
    "code": "12345",
    "description": "pantalon negro",
    "price": "170",
    "id": "6",
    "category": "clothing",
    "thumbnail": "path/to/image1.jpg",
    "stock": "50"
    </li>
    </ul>

<!-- main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.io Example</title>
</head>
<body>

  <ul id="productList"></ul>

  <form action="/" method="post">
    <label for="product">New Product:</label>
    <input type="text" name="product" id="product" required>
    <button type="submit">Add Product</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    // Escuchar el evento 'renderProduct' y actualizar el HTML
    socket.on('renderProduct', (product) => {
      const productList = document.getElementById('productList');
      const listItem = document.createElement('li');
      listItem.textContent = product;
      productList.appendChild(listItem);
    });
  </script>
</body>
</html>