<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Lista de productos</h1>
    <ul>
      {{#each products}}
        <li>{{this.name}} - {{this.price}}</li>
      {{/each}}
    </ul>
    <form id="product-form">
      <label for="name">Nombre del producto:</label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="price">Precio del producto:</label><br />
      <input type="text" id="price" name="price" /><br /> 
      <label for="name">Categoria:</label><br />
      <input type="text" id="category" name="category" /><br /> 
       <label for="name">Descripcion:</label><br />
      <input type="text" id="description" name="description" /><br />
        <label for="name">Codigo:</label><br />
      <input type="text" id="code" name="code" /><br />
        <label for="name">Stock:</label><br />
      <input type="text" id="stock" name="stock" /><br />
      <label for="price">Precio del producto:</label><br />
      <input type="text" id="price" name="price" /><br />
      <input type="submit" value="Agregar producto" />
    </form>
  </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  document.getElementById('product-form').addEventListener('submit',
  function(event) { event.preventDefault(); const name =
  event.target.elements.name.value; const price =
  event.target.elements.price.value; socket.emit('createProduct', { name, price
  }); event.target.elements.name.value = ''; event.target.elements.price.value =
  ''; });
  
</script>