<html>
  <head>
    <title>Productos en tiempo real</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Lista de productos (en tiempo real)</h1>
    <ul id="products">
   
    </ul>

    <script>
      var socket = io(); socket.on('products', function(products) { var
      productsList = document.getElementById('products'); productsList.innerHTML
      = ''; products.forEach(function(product) { var li =
      document.createElement('li'); li.textContent = `${product.name} -
      ${product.price}`; productsList.appendChild(li); }); });
    </script>
  </body>
</html>